body {
    background-color: #4F86C6;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hide {
    display: none
}

.show {
    display: inline-flex;
}

.header {
    margin: auto;
    text-align: center;
    width: 60%;
    border: 3px solid black;
    background-color: #F2F4F3;
}

.readme {
    margin: auto;
    text-align: center;
    width: 60%;
    border-right: 3px solid black;
    border-left: 3px solid black;
    background-color: #EE6352;
}

.container {
    /* display: inline-flex; */
    justify-content: center;
    border: 3px solid black;
    background-color: #7EA16B;
    margin: auto;
    width: 60%;
    height: 100%;
}

#score_card {
    padding: 10px;
    border-right: 3px solid black;
}



#question_container, #end_of_game_message, #welcome, #user_form_container, #hiscores {
    padding: 10px;
    flex-direction: column;
}